@media screen and (max-width: 1200px) {
    .drow_box img{
        width: 100%;
    }
    .drow_box
    .represent_block{
        width: 300px;
    }
    footer{
        height: 300px;
    }
    .fot_nav ul{
        flex-direction: column;
    }
    .fot_nav ul li{
        margin-top: 10px;
    }
}

@media screen and (max-width: 1160px) {
    .contacts{
        padding: 50px 10px 20px 10px;
        flex-direction: column;
        align-items: center;
    }
    /*.contacts a{*/
    /*    width: 300px;*/
    /*}*/
    .contacts .share {
        width: 510px;
        padding: 10px;
        margin: 20px;
    }

}
@media screen and (max-width: 1102px) {
    .partners_list {
        padding-top: 20px;
        height: 350px;
    }
}

    @media screen and (max-width: 992px) {
    .nav {
        display: none;
    }
    .first_screen{
        height: 970px;
    }
    .represent{
        margin-top: 0;
        flex-direction: column;
        align-items: center;

    }
    .represent_block {
        width: 500px;
        margin-bottom: 20px;
    }
    #drow .wrap{
        padding-top: 0px;
    }
    #drow span{
        right: 327px;
    }
    .drow_boxes{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .drow_box{
        margin-top: 20px;
    }
    .buttons{
        margin-top: 20px;
        justify-content: flex-start;
    }
    .buttons .B{
        width: 260px;
        margin: 10px;
    }
        #books_set{
            padding-bottom: 20px;
        }
        .books_list{
            flex-direction: column;
        }
        .left{
            flex-direction: column;
        }
        .left:first-child{
            margin-bottom: 20px;
        }
    .propose_content_info{
        margin-top: 20px;
    }
        .partners_sub img{
            padding-top: 50px;
        }
        .partners_sub_sub img:nth-child(2){
            padding-top: 10px;
        }
        .partners_sub_sub img:nth-child(3){
            padding-top: 10px;
        }
        .under_first_screen{
            margin-left: 200px;
        }
}
@media screen and (max-width: 768px) {
    #drow span{
        right: 248px;
    }
    .drow_box{
        padding: 20px;
    }
    .tablet_text, .car_text{
        align-items: center;
    }
    .buttons{
        flex-direction: column;
    }
    .left, .right{
        padding: 10px;
        margin: 0;
        width: 500px;
    }
    .books_set_cont{
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }
    .books_set_cont_text{
        padding-top: 20px;
        padding-left: 5px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 535px) {
    h1{
        font-size: 2rem;
    }
    .represent_block{
        width: 283px;
    }
    .under_first_screen {
        flex-direction: column;
        align-items: center;
        height: 102px;
        justify-content: space-around;
        margin: 0;
    }
    .buy_complect{
        margin: 0;
    }
    .left, .right{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 320px;

    }
    .left{
        flex-direction: column;
        align-items: center;
    }
    #partners{
        height: 100%;
    }
    .contacts .share{
        width: 160px;
        flex-direction: column;
    }
    .contacts a {
        margin-right: 4px;
    }
    .share{
        display: inline-block;
    }
    .book_img img{
        align-items: center;
    }
}
@media screen and (max-width: 520px) {
    .partners_list{
        display: none;
    }
}
@media screen and (max-width: 384px) {
    h1{
        font-size: 1.5rem;
    }
    .book_img img{
        width: 250px;
    }
}