
@font-face {
    font-family:'Mariad-Pro';
    src: local("fonts/MariadPro.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:'GothamPro';
    src: local("../fonts/GothamPro.eof");
    font-style: normal;
    font-weight: normal;
}
@font-face {font-family:"Source Sans Pro Light";
    src:url("../fonts/SourceSansPro-Light.eot?");
    src: local("fonts/SourceSansPro-Light.woff"),
    url("../fonts/SourceSansPro-Light.ttf") format("truetype"),
    url("../fonts/SourceSansPro-Light.svg#SourceSansPro-Light") format("svg");
    font-weight:normal;font-style:normal;
}
