/*
Theme Name: FreePeople
Author: Webitall
Description: wgwgwgwwgwgww
Author URI:http://wordpress.local/wordpress/wp-theme/free_people/free_people_child/
Version: 1.0
 */
body {
    font-family: 'Open Sans', sans-serif!important;
    font-style: italic;
    font-weight: 600;
    color: #000;
    white-space: normal;
}
body a:hover {
    text-decoration: none;
}
a:focus {
    outline: none;
}
ul{
    list-style: none;
}
.container {
    position: relative;
}
header{
    padding-top: 20px;
}
.tagcloud {
    display: flex;
    flex-direction: column;
}
.logo{
    border-radius: 50%;
}
.title-wrap {
    display: inline-flex;
    max-height: 120px;
    flex-direction: column;
    text-align: center;
}
.title-wrap .site-name{
    color: purple;
    font-weight: 600;
}
.post{
    display: flex;
    flex-direction: column-reverse;
}
.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
.menu a{
    padding: 9px;
}
.menu li{
    padding: 8px;
    border-radius: 10px;
}
.menu li:hover {
    background: #999;
}

.site-header nav .menu li .ccurrent-menu-item a:link,
.site-header nav .menu li .current-menu-itema a:visited{
    text-decoration: underline;
}
.site_header_nav .menu li a{
    font-size: 18px;
    color: purple;
}
.site_header_nav .menu li:hover a{
    color: #000;
}


/*FOOTER ITEMS*/
.site-footer {

    margin-bottom: 20px;
    margin-top: 20px;
    position: relative
}
.footer_credits {
    display: flex;
    position: absolute;
    bottom: -8px;
}
#menu-footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_nav li a{
    color: green;

}
.footer_nav li{
    margin-bottom: 10px;
}

.footer_nav {

    border-top: 1px solid grey;

}
/*Titile*/
.page_title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-272%);
    margin-left: -50px;
    font-weight: 600;
    font-size: 30px;
    color: #000;
    display: inline-block;
}

.content_part{
    margin-top: 30px;
    position: relative;
    box-shadow: 1px 1px 15px #6f99ad;
    transition: ease 1s;
    height: 500px;
}
.content_part:hover {
    box-shadow: 1px 1px 35px #6f99ad;
}
.content_part {
    background-size: cover ;
    background-position: center;

}
.content_part pre{
    margin: 20px auto;
    text-align: left;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    margin-top: 20px;
}
.content_part img{
    width: 100%;
    height: 100%;
}
pre{

    white-space: unset;
    max-width: 300px;
}
aside{
    margin-top: 30px;
    max-width: 30%;
}
#siderbar {
    box-shadow: 5px 5px 5px #00b9eb;
    transition: ease 1s;
}
#siderbar:hover{
    box-shadow: -5px 5px 10px #00b9eb;
}
.widget {
    padding: 10px;
    background: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.widget ul,li {
    list-style: none;
    padding-left: 0;
}
.widget h2 {
    color:purple;
}
.cat-item a{
    color: red;
}
#main {
    /*display: flex;*/
    flex-wrap: wrap;
}
.main_page_title{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.date_author{
    display: flex;
    flex-direction: row;

    width: 300px;
}
.date_author a{
    margin-left: 20px;
}
/*#main p{

    max-width: 100%;
    word-break: break-all;
}*/
.post-block p{

}
.nav-links a{
    color: purple;
}

.vcard {
    color: purple;
}
.archive-description {
    color: red;
}
.post_content h1,h2,h3,h4,h5 {
    color: yellowgreen;
}
.post_content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.post_content h2{
    color: #000;
    font-weight: bold;
}
        /*Special_page*/
.special_page{
    color: red;
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
}
.post-navigation .nav-previous{
    display: inline;
}
/*blog*/
.post a{
     color: #fff;
}
.post a:hover {
    color: #00b9eb;
}
.post h1{
    color: #69a8bb;
    position: absolute;
    top: 30px;
}
.post {
    color: #fff;
    font-size: 20px;
    width: 560px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/*whole blog page*/
.blog-page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;
}
/*comments*/
.comments-area textarea{
    height: 100px;
    max-width: 400px;
}
.comments-area {
    display: flex;
    flex-direction: column;
}
textarea:hover {
    box-shadow: 2px 2px 5px #000;
}
textarea {
    color: rgba(0,0,0,0.5);
}
body a {
    color: rgba(0,0,0,0.5);
}
/*archive_block*/
.archive_block {

}
.logged-in-as a{
    color: #ffa100;
}
.tutsplustext_widget{
    width: 255px;

    white-space: normal;

    word-break: break-all;
}

/*SLIDER*/
.bx-wrapper{
    width: 300px;
    height: 210px;
}
.short_img {
    width: 200px;
    height: 200px;
}
body {
    color: red;
}