/*
Theme Name: Books_shop
Author: Webitall
Description: books-shop
Author URI:http://wordpress.local/wordpress/wp-theme/free_people/free_people_child/
Version: 1.0
Template: books_shop
 */


body{
    margin: 0;
    padding: 0;
    font-family: SourceSansPro,MariadPro,sans-serif;
    color:#fff;
    font-size: 16px;
    word-wrap: anywhere;
}
form{
    color: #000;
}
a {
    text-decoration: none;
    color: #fff;
    outline: none;
}
a:hover   {
    text-decoration: none;
    color: inherit;
}
.B:hover {
    cursor: pointer;
}
p {

    margin:0;
}
button:focus {
    outline: none;
}
button {
    padding:0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    border-style: none;
}
ul, li {
    list-style: none;
    margin: 0;
    /*padding: 0;*/
}

hr{
    margin: 0;
}

               /* FIRST SCREEN*/

.first_screen{
    height: 100vh;
    font-weight: normal;
    background-repeat: no-repeat;
    background-image: url("./img/first_screen.png");
    background-position: center top;
    background-size: cover;
    position: relative;
}
.wrap{
    background-color: rgba(0,0,0,0.4) ;
    height: 100%;
    top: 0;
    left:0;
}
                            /*HEADER*/
header {
    font-size: 1.1rem;
    width: 100%;
}
.header {
    padding: 68px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.header img, a:hover{
    cursor: pointer;
}
.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    padding-right: 30px;
}
                                /*LOGIN */
.logo{
    display: flex;
    align-items: center;
}
.logo_img{
    margin-right: 20px;
}
                                /*MENU BTN*/
.menu{
    margin-right: 10px;
}
.burger_menu{
    width: 26px;
    height: 15px;
}
                                /*LOGIN BLOCK*/
.log_in{
    display: flex;
    align-items: center;
}
.log_in p{
    font-weight: 200;
    margin-right: 27px;
    padding-top: 31px;
}

.log_in p:after{
    content: '';
    height: 30px;
    width: 1px;
    background: #fff;
    display: block;
    position: relative;
    left: 66px;
    top: -28px;
}

.login{
    margin-right: 10px;
}
                /*REPRESENT BLOCK*/
.represent{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 54px;
    display: flex;
    justify-content: space-between;
}
.represent_block{
    width: 340px;
    background-color: rgba(34, 33, 32,0.5);
    padding: 10px;
    margin-right: 10px;
    -webkit-user-select: none;
}
.represent_block:hover {
    background-color: rgba(45, 28, 60,0.6);
}
.represent_text{
    margin-top: 24px;
    text-transform: uppercase;
}
.represent_block img{
    width: 60px;
    margin-top: 22px;
}
.represent_text h4{
    font-weight: 500;
    color: #fff;
}
.represent_text span{
    color: #d9ba62;
    display: block;
}
.represent_text p{
    color: #fff;
    margin-bottom: 16px;
    margin-top: 9px;
}
.represent_block .represent_text span:hover {
    color: red;
}
.represent_block pre{

    color: #fff;
}
                /*AFTER FIRST SCREEN */
.under_first_screen{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 25px 0px 10px 0px;
    width: 400px;
    color: #000;
    display: flex;
    height: 60px;
    justify-content: center;
    margin-left: 83px;
}
.under_first_screen a{
    color: #000;
}
.buy_complect{
    color: #d9dde3;
    margin-left: 40px;
    display: block;
}
.buy_complect p{
    display: inline-block;
}
.buy_complect:after{
    content: '';
    height: 2px;
    width: 81%;
    background: orange;
    display: none;
    position: relative;
    top: 9px;
    transform: translateX(36px);
}
.buy_complect:hover:after{
    display: block;
}
.buy_complect img{
    margin-right: 10px;
}

.about_complect:after{
    content: '';
    height: 2px;
    width: 100%;
    background: orange;
    display: none;
    position: relative;
    top: 9px;
}
.about_complect:hover:after{
    display: block;
}
                        /*PRODUCT PROPOSE*/
#second_screen{
    padding-bottom: 90px;
}
.propose_block {
    padding-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
                        /*lINKS BLOCK*/
.links_block{
    display: flex;
    flex-wrap: wrap;
    width: 211px;
    justify-content: space-between;
    margin: 20px;
}
.link_box {
    background: #f4f4f4;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}
.link_box:hover img{
    transform: rotateZ(90deg);
    transition: ease 1s;
}
.link_box:hover{
    background: rgba(244, 244, 244,0.5);
    border-radius: 80%;
}
                    /*lINKS BLOCK BOTTOM*/
.bottom{
    margin-top: 20px;
}
                    /*PROPOSE CONTENT RIGHT SIGHT*/
.propose_content {
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    color: #000;
}
.propose_content h1 {
    margin-left: 30px;
}
.propose_content span {
    font-size: 33px;
    color: #d9ba62;
    position: relative;
    top: 50px;
}
.propose_content_text{
    margin-top: 28px;
}
                    /*Modal INFO Non active*/
#info_modal{
    display: none;
    width: 250px;
    height: 200px;
    color: #000;
}


                                    /*price BOX*/
.prise {
    font-weight: 600;
    margin-top: 29px;
}
.prise p{
    font-weight: normal;
    display: inline;
}
.propose_content_info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.propose_content_info img{
    width: 24px;
    height: 24px;
}

.cash_back{
    max-width: 220px;
}
.buyer {
    max-width: 340px;
}
.money{
    max-width:383px;
}
.buttons{
    margin-top: 44px;
    color: #000;
    display: flex;
    justify-content: space-between;
}
.buttons p {
    display: inline;
    color: #d9ba62;
    font-weight: bold;
}
.B{
    height: 42px;
    border: 1px solid #d9ba62;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sale_btn img{
    margin-right: 16px;
}
.B:hover{
    background: #faf6ea;
}

.books_btn:hover {
    background: #faf6ea;
}
                /*Article DROW*/
#drow{
    width: 100%;
    height: 100%;
    background-image: url("./img/bg_light.png");
    background-size: cover;
    background-attachment: fixed;
}
#drow span {
    color: #d9ba62;
    position: relative;
    top: 43px;
    right: 393px;
    font-size: 30px;
}
.drow{
    width: 100%;
    text-align: center;
}
.drow h1{
    color: #424242;
    font-size: 2rem;
    font-weight: bold;
}
.drow h3{
    color: #424242;
    font-size: 1.6rem;
    font-weight: bold;
}
.drow p{
    color: rgba(66, 66, 66, 255);
}
.B {
    margin: 30px auto;
    padding: 10px;
}
.B p{
    color: #d9ba62;
}
                                    /*Drow IMAGEs*/
.drow_boxes{
    display: flex;
    justify-content: space-between;
}

.drow_box{
    display: block;
    margin-top: 50px;
    max-width: 555px;
    background: #ffffff;
    padding: 72px 48px 30px 65px;
    position: relative;
}
.drow_box img {

    height: 200px;
 }
.drow_box_content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.car_text{
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 30px;
}
.tablet_text {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 30px;
}
.stock_description{
    display: flex;
    justify-content: space-between;

}
.stock_text{
    font-size: 20px;
    color: #000;
}
.stock_text:nth-child(2){
    margin-left: 230px;
}
.more{
    width: 260px;
    margin: 0 auto;
    font-weight: bold;
}
#drow .wrap{
    background-color: rgba(241, 243, 246,0.6);
    padding-top: 55px;
    padding-bottom: 90px;
}
.drow_boxes img{
    height: 226px;
}
                                    /*BOOK SET*/
#books_set{
    padding: 70px 0px 110px 0px;
    color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#books_set h1,h4{
    font-weight: bold;
    color: #424242;
}
#books_set span{
    color: #d9ba62;
}
.books_set_cont{
    margin: 30px 1px;
    display: flex;
    border: 1px solid #e8e9ec;
    padding: 40px 50px;

}
.book_img{
    width: 100%;
    display: block;
}
.books_set_cont_text{
    text-align: left;
    padding: 90px 30px 0px 30px;
    margin-left: 20px;
}
#books_set .B{
    margin: 30px 0px;
    width: 240px;
}
                                /*BOOKS LIST*/
.books_list{
    display: block!important;
    padding-left: 71px;
}
.left, .right{
    display: flex;
    padding: 40px 10px 30px 20px;
    border: 1px solid #e8e9ec;

}
.left{
    float:left;
    margin-bottom: 20px;
}

.list_text {
    margin: 20px 0px 0px 20px;
    text-align: left;
}
.left img{
    width: 165px;
    height: 237px;
}
.right img{
    width: 165px;
    height: 237px;
}

.BN{
    font-weight: bold;
    display: block;
    margin-top: 15px;
    color: #d9ba62;
}
.fa-long-arrow-alt-right::before {
    content: "\f30b";
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    top: 2px;
}
.BN img{
    width: 20px;
    height: 6px;
}
.BN:hover{
    color: #634785;
}
.bottom_list{
    margin-top: 20px;
}
.button {
    font-weight: bold;
    margin: 40px auto!important;
    background: #634785 ;
    border: none;
}
.button img {
    width: 10px;
    height: 14px;
}
.button:hover{
    color: #fff;
    background: #573e74;
}
                        /*PARTNERS AND CONTACTS*/
#partners{
    width: 100%;
    height: 580px;
    background-image: url("./img/Books_BG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.partners_list {
    height: 320px;
    background-image: url("./img/bg_light.png");
    background-position: bottom;
    background-attachment: fixed;
    background-color: #f4f5f7;
    color: #424242;
    text-align: center;
    padding-top: 50px;
}
.partners_list h2{
    font-weight: bold;
}
.partners_names{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.partners_names img{
    padding: 50px 15px 0px 0px;
}
                    /*contacts links*/
.contacts {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.contacts a{
    margin-right: 12px;
    margin-left: 3px;
}
.contacts img{
    margin-right: 10px;
}
.sub, .email {
     color: #d9ba62;
    font-weight: 600;
}

.sub, .share, .email{
      border: 1px solid #d9ba62;
      border-radius: 30px;
      margin-right: 30px;
      padding: 10px 35px;
  }
.share a:nth-child(2){
    margin-left: 15px;

}
.share:hover a{
    color: #a48328;
}
.share {
    max-width: 550px;
    padding: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    color: #fff;
}
.share a{
    display: inline;
    width: 20px;
}

footer {

    bottom: 0;
    left: 0;
    font-size: 15px;
    height: 120px;
    background: #303030;
}

footer .container {
    padding-top: 30px;
    align-content: center;
}
.fot_nav{
    padding-bottom: 15px;
}
.fot_nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.fot_links .link_box{
    background: #434343;
}
.fot_links{
    display: flex;
    justify-content: space-between;
}
.credits {
    width: 100%;
    height: 75px;
    background: #222222;
    padding-top: 30px;
}
.credits p{
    color: #989898;
    display: flex;
    justify-content: center;
    align-content: center;
}
                                /*MODAL LOG_IN*/
.sign_modal{
    font-family: sans-serif;
    width: 750px;
    height: 665px;
    margin: 50px auto;
    color:red;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    position: relative;
}
.modal_type img{
    width: 15px;
    height: 15px;
    osition: relative;
    top: -40px;
    left: 35px;
}
.modal_type{
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e9ec;
}
.modal_form{
    position: relative;
    margin-top: 50px;
}
.modal_form img{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.modal_form input{
    width: 555px;
    height: 42px;
    border-radius: 20px;
    background-color: #f4f4f4;
    border: none;
    padding: 15px 20px;
    margin-top: 15px;

}
.modal_form label{
    /* Style for "Электронна" */
    height: 14px;
    color: #424242;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "Э, лектрон" */
    letter-spacing: 0.4px;
    margin-top: 20px;
}
.sign_modal h3{
    /* Style for "Авторизаци" */
    color: #303030;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "Авторизаци" */
    letter-spacing: 0.75px;
}
.sign_modal h4 {
    /* Style for "Регистраци" */
    color: #d9ba62;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "Регистраци" */
    letter-spacing: 0.4px;
}
.remember{
    display: flex;
}
.remember_foget{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 87%;
}
.remember_foget a{
    color: #909090;
    text-decoration: underline;
}
.remember_foget a:hover{
    color: #909090;
}
.modal_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    border-bottom: 1px solid #e8e9ec;
    padding-bottom: 40px;

}
.enter, .out, .soc{
    width: 260px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}
.enter{
    border: 1px solid #d9ba62;
    color: #d9ba62;
}
.out{
    border: 1px solid #f4f4f4;
    color: #969696;
}
.enter:hover {
    color: #000;
}
.out:hover{
     color: #000;
 }
.in_soc{
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin-top: 10px;
    color: #9e9e9e;
}
.soc_btn{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.soc{
    color: #fff;
    border: none;
    background-color: #4b2b72;
}
.soc img{
    margin-right: 10px;
    height: 18px;
    padding-bottom: 2px;
}
.soc:hover{
    color:#f1f2f3;
     }
.search_wrap{
    width: 750px;
    height: 650px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.search_area{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 30px;
}.search_area li{
    color:#000;
 }
.search_result{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    color: #000!important;
}

                    /*SINGLE*/

#single {
    width: 100%;
}
.single_content{

    display: flex;
    justify-content: center
}
.content_text{
    color: #fff;
   }
.alignnone{
    width: 300px;
    height: 300px;
}

.propose_content_text p{
    color: #fff;
    word-wrap: anywhere;
}
#single p{
    color: #fff;
}
#single h1{
    color: #fff;
}

.bg-share_gold {
    width: 22px; height: 20px;
    background: url('./img/sprites.png') -257px -10px;
}

.bg-sub_gold {
    width: 22px; height: 20px;
    background: url('./img/sprites.png') -299px -10px;
}
.bg-tel_gold {
    width: 18px; height: 16px;
    background: url('./img/sprites.png') -141px -10px;
}
.bg-twit_gold {
    width: 20px; height: 16px;
    background: url('./img/sprites.png') -217px -10px;
}
.bg-mail_gold {
    width: 28px; height: 20px;
    background: url('./img/sprites.png') -341px -10px;
}
.bg-odnok_gold {
    width: 10px; height: 16px;
    background: url('./img/sprites.png') -38px -10px;
}
.bg-vk_gold {
    width: 28px; height: 16px;
    background: url('./img/sprites.png') -389px -10px;
}
.bg-whatUp_gold {
    width: 18px; height: 18px;
    background: url('./img/sprites.png') -179px -10px;
}
.bg-viber_gold {
    width: 17px; height: 18px;
    background: url('./img/sprites.png') -104px -10px;
}
.bg-fb_gold {
    width: 8px; height: 16px;
    background: url('./img/sprites.png') -10px -10px;
}
.bg-ins_gold {
    width: 16px; height: 16px;
    background: url('./img/sprites.png') -68px -10px;
}

i[class^=bg-]{
    display: inline-block;
}